@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  /* background-color: black; */
  object-fit: cover;
}

#parkCard {
  width: 250px;
  height: 300px;
  /* font-family: 'Poppins', sans-serif; */
}
#signUpImage{
  width:50%
}
#specificCard {
  width: 600px;
   height: 450px
}
.mapdiv {
  display: flex;
  justify-content: center;
}
.leaflet-container {
   width: 900px;
   height: 500px;
   border-radius: 20px
}
.welcomeImage {
  height: 100%;
  width: 100%;
  background-image: url(https://wallpaperaccess.com/full/1098636.jpg);
  background-size: cover;
}
.inputRadius {
  border-radius: 10px;
}
.loginButton {
  width: 10em;
}
.loginPage {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 100%;
  background: #9DD9D2;
  justify-content: center;
  padding: 5em;
}
.welcomeImagelogin {
  background-image: url("https://wallpaperaccess.com/full/1098636.jpg");
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: flex-end; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #navbar {
  background-color: rgb(14, 201, 85);
  border: 2px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
} */

.park_cards{
  margin: 20px;
  font-family: 'Poppins', sans-serif;

}
#homeIcon {
  color: black;
}

.all_parks{
  display: flex;
  flex-wrap: wrap;
}
.image-upload>input {
  display: none;
}
#profileImage:hover {
  opacity: 0.4;
}
.profileInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editProfile {
  background-color: lightgrey;
  width: 300px;
  height: 45px;
  border-radius: 12px;
  font-weight: 500;
  border: '4px solid black';
  margin-right: 300px;
  border-style: solid;
}

.eventsTab {
  background-color: lightgrey;
  width: 650px;
  height: 50px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 320;
  border: '4px solid black',
}

.userProfileName{
  background-color: lightgrey;
  width: 300px;
  height: 45px;
  border-radius: 12px;
  font-weight: 500;
  margin-right: 300px;
  border-style: solid;
  border-width: thin;
  margin-bottom: 10px;
  text-align:center;
  padding: 9px;
}
.form-floating{
  margin: 15px
}

#file-input{
  margin: 15px
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* margin: 15px;
  width: 25px */
}

#signUpCard{
  background-color: rgba(255, 255, 255, 0.5) !important;
}
#nav
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
#nav .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 250px;
}
.showcase.active ul.social
{
  transition: 0.9s;
  margin-left: 300px;
}
.showcase.active div#nav .logo
{
  transition: 0.9s;
  margin-left: 300px;
}

.all_parks {
  margin-top: 70px;
}
.showcase.active div.text
{
  transition: 0.9s;
  margin-left: 300px;
}
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  /* background: #03a8f4b2; */
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  text-align: left;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
  text-decoration: none;
}


.loginSignUpButtonPage
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.loginSignUpButtonPage:hover
{
  letter-spacing: 6px;
  text-decoration: none;
}





.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social img{
  width: 40px;
  height: 44px;
}
.social li
{
  width: 60px;
  list-style: none;
}
.social li .a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
  text-align: left;
}
.menu ul li .a
{
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}
.menu ul li .a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .showcase.active
{
  right: 200px;
}
.showcase.active ul.social
{
  transition: 0.9s;
  margin-left: 225px;
}
.showcase.active div#nav .logo
{
  transition: 0.9s;
  margin-left: 125px;
}
.toggle.active
{
  transition: 0.9s;
  margin-right: -100px;
}
.showcase.active div.text
{
  transition: 0.9s;
  margin-left: 200px;
}
.menu ul
{
  position: relative;
  margin-left: 120px;
}
}

.specificParkMap{
  filter: drop-shadow(0 0 0.2rem black);

}
.firstHolder{
  margin-left: 415px;
    display: flex
}
.secondHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px
}

.amenities{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.favoriteTab{
  font-size: 20px;
}

.userEventsTab{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#navbar{
  display: flex;
  justify-content: space-between;
  background: #6F89AE;
  padding: 10px;
  align-items: center;
  margin-bottom: 15px;
}
#homeInput{
  display: flex;
  justify-content: center
}
#homeInputBox{
  width: 600px;
}
.card-title{
  margin-top: 10px
}

.signUpPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.transition {
  height: 75px;
}

