.App {
  text-align: center;
  height: 100%;
  /* background-image: url('http://bsnscb.com/data/out/144/26988281-park-wallpapers.jpg'); */
}
/* #mapid { height: 280px; } */
#signUpImage{
  width:50%
}
.mapdiv {
  display: flex;
  justify-content: center;
}
.leaflet-container {
  width: 800px;
   height: 480px;
   border-radius: 20px
}
.welcomeImage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-image: url('http://bsnscb.com/data/out/144/26988281-park-wallpapers.jpg'); */
  background: black
}
.inputRadius {
  border-radius: 10px;
}
.loginButton {
  width: 10em;
}
.loginPage {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 100%;
  background: #9DD9D2;
  justify-content: center;
  padding: 5em;
}
.welcomeImagelogin {
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
    justify-content: flex-end;
}
.signUpPage {
  display: flex;
  width: 55%;
  flex-direction: column;
  height: 100%;
  background: white;
  justify-content: center;
  padding: 5em;
  background: #7CDF64;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar {
  /* background-color: rgb(14, 201, 85); */
  border: 2px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.park_cards{
  margin: 20px;
}
#homeIcon {
  color: black;
}

.all_parks{
  display: flex;
  flex-wrap: wrap;
}
.image-upload>input {
  display: none;
}
#profileImage:hover {
  opacity: 0.4;
}
.profileInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editProfile {
  background-color: lightgrey;
  width: 300px;
  height: 45px;
  border-radius: 12px;
  font-weight: 500;
  border: '4px solid black';
  margin-right: 300px;
  border-style: solid;
}

.favoriteTab {
  background-color: lightgrey;
  width: 650px;
  height: 50px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 320;
  border: '4px solid black',
}

.eventsTab {
  background-color: lightgrey;
  width: 650px;
  height: 50px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 320;
  border: '4px solid black',
}

.userProfileName{
  background-color: lightgrey;
  width: 300px;
  height: 45px;
  border-radius: 12px;
  font-weight: 500;
  margin-right: 300px;
  border-style: solid;
  border-width: thin;
  margin-bottom: 10px;
  text-align:center;
  padding: 9px;
}
.form-floating{
  margin: 15px
}

#file-input{
  margin: 15px
}